.footer-container{
 height: auto;
 @include flexRowCenter;
 justify-content: space-evenly;
 width: 100%;
 background-color: #333;
 color: white;
 margin-top: 7vh;
p {
  font-size: 50px;
 }

.footer-link-container {
  margin-top:30px;
@include flexColumnCenter;
h3{
 font-size: 30px;
}


  a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: .5rem;
   }
 }

  .footer-socials-container {
   @include flexColumnCenter;

   .footer-socials-icons-container{
    margin-top: 1rem;
    @include flexRowCenter;

    a{
     color: white;
     text-decoration: none;
     font-size: 30px;
     margin: .5rem;
    }
   }
  }

.footer-contact-container {
 @include flexColumnCenter;

.contact-form{
  width : 100%;
@include flexRowCenter;
margin-top: 3vh;
input {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 3vh;
    outline: none;
    border: none;
    background-color: white;
    @include removePaddingMargin;
  }

  button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20%;
    height: 3vh;
    border: none;
    background-color: white;
    @include removePaddingMargin;
    cursor: pointer;
   
    &:hover{
      @include hoverTransition;
      background-color: $accent-color;
      color: white;
    }
  }
}

}
}


