.nav-container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f5ebeb;
   color: #fff;
 
   .nav-left-container {
     display: flex;
     align-items: center;
   }
 
   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 
     li {
       display: inline;
 
       a {
         color: #fff;
         text-decoration: none;
         font-size: 18px;
         transition: 0.3s ease;
 
         &:hover {
           background-color: #555;
           border-radius: 5px;
         }
       }
     }
   }
 
   .login-button {
     background-color: #007bff;
     border-radius: 5px;
     font-size: 18px;
 
     &:hover {
       background-color: #0056b3;
     }
   }
 
   .nav-right-container {

     ul {
       display: flex;
       align-items: center;
     }
   }



 .nav-centre-container {
.logo {
      width: 150px; 
      height: 100PX;
   }
 
 }




 }