.nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f5ebeb;
   color: #fff;
   padding: 8px 20px; // Reduced padding for shorter height
 
   .nav-left-container {
     display: flex;
     align-items: center;
 
     .logo {
       width: 150px; // Increased width for wider image
       height: 50PX;
       margin-right: 20px;
     }
   }
 
   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 
     li {
       display: inline;
       margin-right: 15px;
 
       a {
         color: #fff;
         text-decoration: none;
         padding: 10px 15px;
         font-size: 18px;
         transition: 0.3s ease;
 
         &:hover {
           background-color: #555;
           border-radius: 5px;
         }
       }
     }
   }
 
   .login-button {
     background-color: #007bff;
     border-radius: 5px;
     padding: 12px 25px; // Adjusted padding for larger button size
     font-size: 18px;
 
     &:hover {
       background-color: #0056b3;
     }
   }
 
   .nav-right-container {
     ul {
       display: flex;
       align-items: center;
     }
   }
 }